@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fbecd8;
  --foreground: #171717;
  --accent: #c5dad7;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Aloevera";
  src: url("/fonts/aloevera.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("/fonts/poppins-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("/fonts/poppins-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
